nav.navbar{
    
    background-color: #0f172a!important ;
 }
nav.navbar .nav-link{
    color: white!important;
}
   
.background{
    background-image: url("./assets/back.jpeg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.feed{
    height: 100vh;
    margin: 20px;
    overflow-y: scroll;
}   
.feed-header{
    background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("./assets/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 300px;
}
.main-content{
    text-align: center;
    color: white;
    margin-top: 150px;
}