nav.navbar{
    background-color: #0f172a!important ;
 }
nav.navbar .nav-link{
    color: white!important;
}
.homeNav {
    margin-left: auto;
    margin-right: 30px;
    font-weight: 600;
}
.feedNav{
      margin-right: 30px;
    font-weight: 600;
}
   
.nav-separator{
  color: grey;
  margin: 0 8px;
  align-self: center;
  font-weight: 600;
}
.background{
    background-image: url("./assets/back.jpeg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.feed{
    height: 100vh;
    overflow-y: scroll;
}   
.feed-header{
    background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("./assets/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 300px;
}
.inner-feed-header{
    
   
    padding-left: 6rem;
     
    padding-top: 70px;
}
.main-content{
     margin-left: 6rem;
    color: white;
    margin-top: 150px;
}